:root {
	--button-color: #485157;
    --hover-color: brightness(145%);
    --locked-color: black;
    --border-color: #2b2b2b;
    --game-over-color: #efefef;
    --high-score-color: #caebf2;
    --current-info-color: #efefef;

	--button-text: #fafafa; 
	--locked-text: gray; 
}

html, body {
    height: 100%;
    width: 100%;
}

* {
    font-family: Courier;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#screen {
    position: relative;
    aspect-ratio: 1.8;
    min-height: 390px;
    max-height: clamp(390px, 90%, 640px);
}

#container {
    display: flex;
    position: relative;
    height: 93%;
    width: 100%;
    overflow: hidden;
}

/* container components (games, grid, and score) */
#games {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 17%;
}

#grid {
    aspect-ratio: 1;
    max-height: 100%;
    border: 3px solid var(--border-color);
    border-right: 10px solid var(--border-color);
    border-left: 10px solid var(--border-color);
}

#score {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    max-height: 100%;
    align-content: flex-start;
    border: 3px solid var(--border-color);
    border-left: none;
    font-size: 1.1em;
}

#game-over-screen {
    position: absolute;
    height: 30%;
    width: 30%;
    background: var(--game-over-color);
    left: 28.5%;
    top: 50%;
    transform: translateY(-50%); 
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
    animation: gameover .2s linear;
}

.popup {
    position: absolute;
    height: 30%;
    width: 30%;
    background: var(--game-over-color);
    left: 28.5%;
    top: 50%;
    transform: translateY(-50%); 
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    animation: popup .3s ease-out;
}

.settings {
    height: 40%;
}

#colors {
    top: 1rem;
    width: 60%;
    position: absolute;
    display: flex;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 2rem;
}

.color-picker {
    margin-right: auto;
    display: flex;
    align-items: center;
}

input {
    position: absolute;
    right: 0;
}

.popup button {
    /* position: absolute; */
    height: 2rem;
    margin-right: 1rem;
    /* margin-top: auto; */
    /* max-width: 40%; */
    border: 2px solid var(--border-color);
    /* margin-bottom: 5%; */
}

.popup button:not(.close) {
    /* bottom: 5%; */
    margin-top: auto;
    margin-bottom: 5%;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border-radius: 1vh;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    font-size: 2rem;
}


.close:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}

@keyframes popup {
    from {
        top: 0;
    } to {
        top: 50%;
    } 
}

#message {
    position: absolute;
    margin-top: 10%;
}


/* scoreboard components (instructions, description, points, best, requirements) */
.instructions {
    min-height: 30%;
    background: var(--current-info-color);
}

.description {
    min-height: 20%;
    background: var(--current-info-color);
}

.current-score {
    display: flex;
    align-items: center;
    height: 25%;
    background: var(--current-info-color);
    font-size: 1.1em;
    border-bottom: 1px solid var(--border-color);
}

.high-score {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--high-score-color);
    color: var(--border-color);
    font-size: 1.2em;
    font-weight: bold;
    flex: 1;
}

.high-score p {
    border: 2px dotted var(--border-color);
}

button {
    /* flex-grow: 1;
    width: 100%; */
    background: var(--button-color);
    color: var(--button-text);
    font-size: 1.1em;
    /* border: 0px solid; */
    /* border-bottom: 2px solid var(--border-color); */
    /* border-left: 2px solid var(--border-color); */
}

button:not(.game) {
    padding: 0px 1rem;
}

button.game {
    flex-grow: 1;
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color); 
}

#Classic {
    border-top: 2px solid var(--border-color);
}

button:not([disabled]):hover {
    text-decoration: none;
    cursor: pointer;
    filter: var(--hover-color) !important;
}

button.game:disabled {
    color: var(--locked-text);
    background-color: var(--locked-color) !important;
}

button.game:disabled:hover {
    cursor: not-allowed;
}

button:focus {
    outline: none;
    box-shadow: none;
}

#extras {
    display: flex;
    position: absolute;
    height: 7%;
    width: 100%;
    font-size: 1em;
    gap: 1rem; 
}

#extras > button {
    margin-top: .25rem;
    height: 90%;
    font-size: 1em;
    border: 2px solid var(--border-color);
    color: var(--button-text);
    font-style: italic;
    font-weight: bold;
}

button.settings {
    max-width: 12%;
}

#auto {
    max-width: 20%;
}

#extras > button:first-child {
    margin-left: calc(17% + 10px);
}

a {
    text-decoration: none;
    color: var(--button-text);
}

#container > div {
    flex: 1;
}

#score > div {
    max-width: 100%;
    padding-left: 8px;
    padding-top: 5px;
}

.amt {
    font-weight: bold;
    font-size: 1.1em;
}

.score-to-beat {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--high-score-color);
    font-weight: bold;
    font-style: italic;
}

.name {
    text-align: justify;
    font-weight: bold;
    text-decoration: underline;
}
